.social {
  list-style: none;
  display: flex;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 0px;
}

.social__item {
  padding: 0 5px;
  margin: 0;
}

.social__link {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .social__svg {
    transform: scale(1.2);
    color: #fff;
  }
}

.social__svg {
  color: #ffffff98;
  transition: 0.2s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
