.login {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  //   padding: 100px 100px;
}

.login__button {
  cursor: pointer;
  font-weight: bold;
  background-image: linear-gradient(to left, #00b3db6c, #0084b07e);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 0;
  padding: 30px;
  transition: 0.2s;

  &:hover {
    transform: scale(1.02);
  }
}
