.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/921/407/714/graffiti-wallpaper-preview.jpg");
  box-shadow: $box_shadow_navbar;
  overflow: hidden;
}

.navbar__logo {
  cursor: default;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-flex;
  background-color: $primary_blue;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: 1px solid $primary_black;
  border-radius: 5px;
  text-shadow: $text_shadow_navbar_logo;
  transition: 0.2s;
  user-select: none;

  &:hover {
    box-shadow: $box_shadow_btn;
    border-color: $primary_black;
    transform: rotateY(720deg);
  }
}

.navbar__button {
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
  color: $primary_black;
  background-color: $primary_blue;
  transition: 0.2s;
  padding: 5px;
  border-color: transparent;
  border-radius: 5px;

  box-shadow: $box_shadow_btn;

  &:hover {
    color: primary_white_100;
    background-color: $primary_white_10;
    border-color: $primary_white_100;
  }
}

.button {
  &__login:hover {
    background-color: $login_bgc;
  }

  &__logout:hover {
    background-color: $logout_bgc;
  }
}

@media screen and (min-width: $tablet) {
  .navbar__logo {
    font-size: 18px;
  }

  .navbar__button {
    font-size: 16px;
  }
}
