.app {
  height: 100vh;
  background-image: url("https://r4.wallpaperflare.com/wallpaper/319/609/287/graffiti-street-art-colorful-wall-wallpaper-06a83ee7291e6502fd92e823b417431e.jpg");
  background-size: cover;
  text-align: center;
}
