@import "../utils/variables.scss";

.chat {
  background-color: $primary_white_40;
  max-height: 70%;
  width: 70vw;
  margin-top: 5vh;
  padding: 10px;
  border-radius: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: $box_shadow_chat;
}

.chat_no-messages {
  height: 100%;
}

.chat__messages {
  width: 100%;
  border-radius: 10px;
  display: flex;
  max-height: 80%;
  flex-direction: column;
  background-color: $primary_white_50;
  padding: 5px;
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 10px;
}

.chat__messages::-webkit-scrollbar {
  padding: 5px 0;
  width: 10px;
}

.chat__messages::-webkit-scrollbar-track {
  background-color: $primary_white_70;
  border-radius: 100px;
}

.chat__messages::-webkit-scrollbar-thumb {
  border-radius: 100px;

  border-left: 0;
  border-right: 0;
  background-color: $primary_blue;
}

.chat__message {
  background-color: transparent;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.message__bio {
  display: flex;
  width: 14%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message__img {
  border-radius: 100%;
  border: 1px solid $primary_black;
  width: 35px;
  height: 35px;
}

.message__diplayName {
  color: $primary_black;
  text-align: center;
  font-size: 11px;
  padding: 0;
  margin: 0;
}

.message__text {
  color: $primary_black;
  width: 65%;
  background-color: $message_bgc;
  border-radius: 5px;
  font-size: 13px;
  margin: 0;
  padding: 5px;
  margin-top: 5px;
  word-wrap: break-word;
}

.message__text_right {
  margin-right: 5px;
  background-color: $message_bgc_user;
}

.message__right {
  flex-direction: row-reverse;
  justify-content: end;
}

.chat__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chat__form_input {
  display: block;
  color: $primary_black;
  resize: none;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: $primary_white_70;
  font-size: 13px;
  width: 100px;
  flex-grow: 0.96;
  outline: none;
  height: 14vh;

  &:focus {
    outline: none;
  }
}

.chat__form_button {
  background-color: $primary_white_70;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  transition: 0.2s;

  &:hover {
    box-shadow: $box_shadow_btn;
    background-color: $primary_white_70;
  }

  &:hover .arrow {
    border-color: $primary_blue_70;
  }

  &:hover .arrow::before {
    border-color: $primary_blue_70;
  }
}

.arrow {
  display: block;
  border-top: 4px solid $primary_blue;
  border-right: 4px solid $primary_blue;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translate(1px, -1px);
  position: relative;
  transition: 0.2s;

  &::before {
    content: "";
    display: block;
    border-top: 4px solid $primary_blue;
    border-right: 4px solid $primary_blue;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 2px;
    bottom: -6px;
    transition: 0.2s;
  }
}

.chat__welcome {
  text-align: center;
  background-color: $primary_white_70;
  padding: 10px;
  font-size: 20px;
  color: $primary_black;
  font-weight: bold;
  border-radius: 30px;
  margin-bottom: 20px;
}

@media screen and (min-width: $tablet) {
  .chat {
    padding: 20px;
    border-radius: 20px;
    width: 500px;
  }

  .chat__messages {
    margin-bottom: 15px;
  }

  .chat__messages::-webkit-scrollbar {
    width: 15px;
  }

  .message__text_right {
    margin-right: 0;
  }

  .message__text {
    font-size: 15px;
  }
  .message__diplayName {
    font-size: 12px;
  }

  .message__img {
    width: 40px;
    height: 40px;
  }
  .chat__form_input {
    font-size: 15px;
  }
}
