@import "../utils/variables.scss";

.login {
  display: flex;
  align-items: center;
  margin-top: 30vh;
  justify-content: center;
}

.login__button {
  color: $primary_black;
  font-weight: 700;
  text-shadow: $text_shadow_login_btn;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: $gradient_login;
  border-radius: 10px;
  border: none;
  background-color: $primary_white_40;
  outline: none;
  margin: 0;
  box-shadow: $box_shadow_btn;
  transition: 0.1s;
  padding: 30px;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    background-color: $primary_white_50;

    box-shadow: $box_shadow_login;
  }

  &:hover .login__logo {
    background-color: $primary_white_100;
  }
}

.login__logo {
  display: block;
  width: 50px;
  height: 50px;
  background-color: $primary_white_70;
  border: 1px solid $primary_white_50;
  border-radius: 50px;
  padding: 5px;
  transition: 0.1s;
  box-shadow: $box_shadow_google_logo;
}
